pkgbase = feh
	pkgdesc = Fast and light imlib2-based image viewer
	pkgver = 3.10.1
	pkgrel = 1
	url = https://feh.finalrewind.org/
	arch = x86_64
	license = custom:MIT
	makedepends = libxt
	depends = curl
	depends = file
	depends = imlib2
	depends = libexif
	depends = libxinerama
	optdepends = imagemagick: support more file formats
	optdepends = jpegexiforient: set exif rotation tag
	source = https://feh.finalrewind.org/feh-3.10.1.tar.bz2
	source = https://feh.finalrewind.org/feh-3.10.1.tar.bz2.asc
	validpgpkeys = 781BB7071C6BF648EAEB08A1100D5BFB5166E005
	validpgpkeys = 64FE6EC055560F9EF13A304419E6E524EBB177BA
	sha256sums = ec5e44d3cfe6f50f1c64f28a6f0225d958f4f4621726d9c2a04b5a32e5106d23
	sha256sums = SKIP

pkgname = feh
